<section id = "body" class = "container">
    
  <div class= "row">
<h3>Forget Password?</h3>
<%= flash[:notice]%>
<%= form_for(:user, :html=>{:class =>"form-horizontal center"}) do |f| %>

	<div class="form-group">
        <%= f.label :email, "Email:", class: "col-sm-2 control-label" %>
        <div class="col-sm-4">
          <%= f.text_field :email, class: "form-control" , placeholder: "Email"%>
        </div>
      </div>	
  

  <div class = "form-group col-sm-offset-6 col-sm-6 form-actions">
                  <%= f.submit "Submit", class: "btn btn-default btn-success" %>  
    </div>
<% end %>