<h2>Signup<h2>

<%= form_for(:user) do |f|%>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
  
    <%= f.label :name %><b style="color:#ff0000; font-size:16px;">*</b><br>
 
    <%= f.text_field :name, placeholder: "Name" %><br/><br/>

    
  
    <%= f.label :email %><b style="color:#ff0000; font-size:16px;">*</b><br/>
    <%= f.text_field :email, class: "form-control", placeholder: "Email" %><br/><br/>
  
     <%= f.label :password%><b style="color:#ff0000; font-size:16px;">*</b><br/>
 
    <%= f.password_field :password, placeholder: "Password" %><br/><br/>

    <%= f.label :password %><br/>
     
        <%= f.password_field :confirm_password, placeholder: "confirm password" %><br/><br/>
    
    <%= f.submit%>
  </div>
</div>
   <% end %>