<!DOCTYPE html>
<html>
<head>
  <title>Bonsai4u</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link rel="stylesheet" type="text/css" href="/assets/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/home.css" />

  <%= csrf_meta_tags %>
</head>
<body>	<div class = "mainwrapper">
   <div class = "leftcolumn">
   </div>
   <div class = "rightcolumn">
   </div>
	<header>
	  <div class="headerContent">
		<div class="logo">
			<img src="/assets/logo.jpg", alt= "BonsaiLogo" style="width:80px;height:80px"/>
			<h1 id = "logoname">Bonsai4U</h1>
			<span id ="tagLine">Timeless Beauty In Miniature</span>
		</div>	

			
			<div id = "searchBox">
				<div id = "searchTag">
					<%= form_for(:search,:url=>"/bonsai_gallery/search") do |f| %>

					Search <input type="text" name="search">
					<input type="submit" value="Go" id = "go">
					<% end %>
				</div>
				
				<div class = "socialLinks">
					<p>
					<a href="#" target="_blank"><img src= "/assets/facebook.jpg" alt = "facebook"/></a>
					
					<a href="#" target="_blank"><img src= "/assets/twitter.jpg" alt = "twitter"/></a>
					
					<a href="#" target="_blank"><img src= "/assets/googleplus.jpg" alt = "googleplus"/></a>
				
					<a href="#" target="_blank"><img src= "/assets/pintrest.jpg" alt = "pintrest"/></a>
					
				</p>

				<!--	<div><a href="#" target="_blank"> <img src= "assets/twitter.jpg" alt = "facebook"/></a>
					</div>
				-->
				</div>
			</div>

	  </div>
	</header>
		<nav class="nav">
			<ul>
				<li>
				
				<%= link_to 'Home', :controller=>"bonsai_gallery", :action=>"index" %>
				<a href="/bonsai_gallery/index">Gallery</a> 
			<!--	<a href="/carts">Cart</a> -->

				<% unless session[:cart_id].nil? %>

				<%= link_to "Cart", cart_path(session[:cart_id])%>
				<% end %>

				<%= link_to 'Login', :controller=>"account", :action=>"login" %>
				<%= link_to 'ContactUS', :controller=>"account", :action=>"contactus" %>

				
				</li>
			</ul>

		</nav>
	
	<div id="content-container">
	
	<section>

	<%= yield %>

	</section>
	
	</div>	

<footer>
            <div>
                    <!-- Column one start -->
                    <h3>Customer Service</h3>
                <ul>
               <li><a title="contact us" href=".">contact us</a></li>
				<li><a title="privacy policy" href=".">privacy policy</a></li>
				<li><a title="shipping and returns policy" href=".">shipping &amp; returns</a></li>
				<li><a title="rewards program" href=".">rewards program</a></li>
				<li><a title="faq" href=".">faqs</a></li>
				</ul>
                    <!-- Column one end -->
                </div>
               <div>
                    <!-- Column two start -->
                        <h3>MyAccount</h3>
                    <ul>
                   <li><a href=".">sign in / register</a></li>
					<li><a href="./">track order</a></li>
					<li><a href=".">shopping cart</a></li>
					<li><a href=".">wishlist</a></li>
					<li><a href=".">email subscription</a></li>
		</ul>

                    <!-- Column two end -->
                </div>
              <div>
                    <!-- Column three start -->
                        <h3>About Us</h3>
                    <ul>
                    <li><a href=".">company history</a></li>
					<li><a href=".">media &amp; news</a></li>
					<li><a href=".">blog</a></li><br/>
					<li>
						<input type = "text" placeholder ="subscribe for NewsLetter"/>
						<button>Submit</button>
					</li>
					
				</ul>

                    <!-- Column three end -->
                </div>
                
             
     </footer>
    </div>
	
</div>
</body>

		
</html>
